
* {
    margin: 0;
    padding: 0;
    font-family: Lato , sans-serif;
}

header {
    background-color: rgba(229, 84, 115, 0.1);
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0px auto;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .b-text .h-text {
    color: #272727;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

p {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    /* font-style: normal; */
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.btn-primary {
    border-radius: 8px;
    background-color: #E55473;
    color: #FFF;
    font-size: 20px;
    /* font-style: normal; */
    font-weight: 700;
    line-height: normal;
    padding: 20px 43px;
    gap: 10px;
}